/* Contact.css */

.contact-container {
  background-color: #99929273;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  padding: 2rem;
}

.contact-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  width: 90%;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.contact-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: tomato;
}

.contact-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #555;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}

.form-group label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .contact-container {
    padding: 1rem;
    min-height: auto;
  }

  .contact-content {
    width: 100%;
    padding: 1rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 1rem;
  }
}