/* footer {
  margin-top: 0.2vmax;
  padding: 2vmax;
  background-color: rgb(34, 33, 33);
  color: white;
  display: flex;
  align-items: center;
}

.leftFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftFooter>h4 {
  font-family: "Roboto";
  font-size: 1vmax;
}

.leftFooter>p {
  text-align: center;
  font-size: 1.2vmax;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.leftFooter>img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

.middleFooter {
  width: 60%;

  text-align: center;
}

.middleFooter>h1 {
  font-size: 4vmax;
  font-family: "Roboto";
  color: #eb4034;
}

.middleFooter>p {
  max-width: 60%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
}

.rightFooter {
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightFooter>h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline;
}

.rightFooter>a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  transition: all 0.5s;
  margin: 0.5vmax;
}

.rightFooter>a:hover {
  color: #eb4034;
} */

/* Footer.css */
/* Customize the styles as per your aesthetics */


/* Footer.module.css */
/* Use className for styling */

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 30px;
}


.footer-company-name p {
  padding: 10px;
}


.footer-company-name :nth-last-child(1) {
  border-left: 1px solid #b5c6d7;
}


.footer-company-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8f9296;
  font-size: 14px;
  padding-left: 10px;
}

/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 30px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all .25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }

  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}